@model IEnumerable<DOTRONGHUY_2210900029_K22CNTT1.Models.khach_hang>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ho_ten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tai_khoan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mat_khau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dia_chi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dien_thoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngay_sinh)
        </th>
        @if (Session["IsAdmin"] != null && (bool)Session["IsAdmin"])
            {
            <th>
                @Html.DisplayNameFor(model => model.ngay_cap_nhat)
            </th>
            }

        <th>
            @Html.DisplayNameFor(model => model.gioi_tinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tich_diem)
        </th>
        @if (Session["IsAdmin"] != null && (bool)Session["IsAdmin"])
        {

            <th>
                @Html.DisplayNameFor(model => model.trang_thai)
            </th>
        }
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ho_ten)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.tai_khoan)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.mat_khau)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.dia_chi)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.dien_thoai)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ngay_sinh)
    </td>
         @if (Session["IsAdmin"] != null && (bool)Session["IsAdmin"])
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.ngay_cap_nhat)
                    </td>
                }


    <td>
        @Html.DisplayFor(modelItem => item.gioi_tinh)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.tich_diem)
    </td>
    @if (Session["IsAdmin"] != null && (bool)Session["IsAdmin"])
    {
        <td>
            @Html.DisplayFor(modelItem => item.trang_thai)
        </td>
    }

    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.ma_kh }) |
        @Html.ActionLink("Details", "Details", new { id = item.ma_kh }) |
        @if (Session["IsAdmin"] != null && (bool)Session["IsAdmin"])
        {
            @Html.ActionLink("Delete", "Delete", new { id = item.ma_kh })}
    </td>
</tr>
}

</table>
