<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Showroom ô tô</title>
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="wrap-nav shoppe-top">
                <div class="desc_nav">
                    <div class="container_nav container-center">
                        <div class="container_left">
                        </div>
                        <div class="nav_space"></div>
                        <div class="container_right">
                            @if (Session["TaiKhoan"] != null)
                            {
                                <a href="@Url.Action("Logout", "DTHquan_tri")" class="log-in container-link desc-title">Đăng xuất</a>
                                <div class="nav-wall"></div>
                                <span class="log-in container-link desc-title">@Session["TaiKhoan"]</span>
                            }
                            else
                            {
                                <a href="@Url.Action("Login", "DTHquan_tri")" class="log-in container-link desc-title">Đăng Nhập</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
            @if ((string)ViewContext.RouteData.Values["action"] != "Login")
            {
            <div id="admin">
                <button class="open-item">&#9776;</button>
            </div>
            }
        </div>
    </div>
    <div class="container body-content ">
        @RenderBody()
        <hr />
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Content/main.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
