<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Showroom ô tô</title>
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="~/Content/StyleSheet2.css" rel="stylesheet" />
    <link href="~/Content/StyleSheet3.css" rel="stylesheet" />
    <link href="~/Content/StyleSheet4.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body {
            background-color: #f5f5f5 !important;
        }
    </style>
</head>
<body data-is-admin="@Session["IsAdmin"]">
    <div class="wrap-nav shoppe-top" style="height:60px">
        <div class="desc_nav">
            <div class="container_nav container-center">
                <div class="container_left">
                </div>
                <div class="nav_space"></div>
                <div class="container_right">
                    @if (Session["TaiKhoan"] != null)
                    {
                        <a href="@Url.Action("Logout", "DTHquan_tri")" class="log-in container-link desc-title">Đăng xuất</a>
                        <div class="nav-wall"></div>
                        <span class="log-in container-link desc-title">@Session["TaiKhoan"]</span>
                    }
                    else
                    {
                    }
                </div>
            </div>
        </div>
    </div>
    @if ((string)ViewContext.RouteData.Values["action"] != "Login")
    {
        <div id="admin">
            <button class="open-item">&#9776;</button>
        </div>
    }
    <div class="container body-content flex flex-col " style="flex-wrap:wrap;">
        @RenderBody()
        <hr />
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Content/mainLayout.js"></script>
    <script src="~/Content/indexQT.js"></script>
    <script src="~/Content/create.js"></script>
    <script>
        var swiper = new Swiper('.mySwiper', {
            slidesPerView: 3, // Số lượng slide hiển thị
            spaceBetween: 30, // Khoảng cách giữa các slide
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
