@model IEnumerable<DOTRONGHUY_2210900029_K22CNTT1.Models.xehoi>

@{
    ViewBag.Title = "Danh mục xe hơi";
}

<h2>Danh mục xe hơi</h2>


<section class="section collection">
    <div class="title">
        <h2>Danh mục xe hơi</h2>
    </div>


    <div class="productss containers flex-center">
        @foreach (var item in Model)
        {
            <div class="swiper-slide" style="width: 333.333px; margin-right: 40px;">
                <div class="product">
                    <div class="top d-flex">
                        <!-- Hiển thị ảnh của xe -->
                        <img src="@item.anh" alt="Image of @item.ten_xe" style="max-width: 100%; height: auto;">
                        <div class="icon d-flex">
                            <i class="bx bxs-heart"></i>
                        </div>
                    </div>

                    <div class="bottom">
                        <h4>@item.ten_xe</h4>

                        <div class="d-flex">
                            <!-- Giá bán và đánh giá -->
                            <div class="price">@item.gia_ban.ToString("C")</div>
                            <div class="rating">
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                            </div>
                        </div>
                        <div class="d-flex" style=" margin-top: 20px;">
                            <a href="@Url.Action("AddToCart", "DTHchi_tiet_gio_hang", new { id = item.ma_xe })" class="learn-more">Add to cart</a>
                        </div>
                    </div>

                        @if (Session["IsAdmin"] != null && (bool)Session["IsAdmin"])
                        {
                            <div class="actions">
                                    <a href="@Url.Action("Delete", new { id = item.ma_xe })" class="btn delete-btn">Delete</a>
                            </div>
                        }
                </div>
            </div>
        }
    </div>
</section>
