@model IEnumerable<DOTRONGHUY_2210900029_K22CNTT1.Models.danh_muc_xe_hoi>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ten_xe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hang_xe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gia_ban)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mo_ta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.so_luong)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ten_xe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hang_xe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gia_ban)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mo_ta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.so_luong)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ma_xe }) |
            @Html.ActionLink("Details", "Details", new { id=item.ma_xe }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ma_xe })
        </td>
    </tr>
}

</table>
